.app-modal form .radio-fields-lbl .checkmark{
    background-color: rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    transition: transform .2s, background-color .2s;
}

.app-modal form .radio-fields-lbl .checkmark:hover{
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.5);
    transform: scale(0.9);
}

.app-modal form .radio-fields-lbl input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.app-modal form .radio-fields-lbl input:checked ~ .checkmark{
    background-color: rgba(250, 250, 250, 0.5);
}

.board-face{
    justify-content: center;
    position: relative;
}

.board-face:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.board-face.locked::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.board-face.locked{
    cursor: not-allowed;
}

.board-face:active{
    background-color: rgba(0, 0, 0, 0.2);
}

.board-face .imgInFace{
    width: 50%;
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity .5s;
}

.board-face .imgInFace.show{
    transform: scale(.8);
    opacity: 1;
}

