.main-modal{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    opacity: 1;
    
}

.main-modal .background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/watermark.jpg');
    opacity: .03;
    z-index: -1;
}

.main-modal.hidden{
    transform: translateY(-100vh);
    opacity: 0;
}

.main-modal .new-game-btn{
    width: 8rem;
    align-self: center;
}
